body{
    margin:0
}
header{
    display:flex;
    justify-content: center;
    background-color: aqua;
}
section{
    display:grid;
    justify-items: center;
}
form{
    text-align: center;
}
main{
text-align: center;
margin-top:2rem;


}